/* верхушка сайта (навигация и картинка) */
/* сама верхушка */
header {
    height: min-content;
    padding-top: 152px;

    background-image: url("./img/pepe.png");
    background-size: cover;
    background-position: center top;
}
header .references {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 auto;
    max-width: max-content;
    width: fit-content;
}
a.button {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: darkgray;
    padding: 4px;
    margin-left: 4px;
}
a.button:hover {
    background-color: grey;
}